<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<servlet>
		<servlet-name>Question</servlet-name>
		<servlet-class>com.kervinramen.spotfinder.facebookapp.controller.QuestionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Question</servlet-name>
		<url-pattern>/question</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Authentication</servlet-name>
		<servlet-class>com.kervinramen.spotfinder.facebookapp.controller.AuthenticationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Authentication</servlet-name>
		<url-pattern>/authenticate</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Helper</servlet-name>
		<servlet-class>com.kervinramen.spotfinder.servlets.HelperServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Helper</servlet-name>
		<url-pattern>/helper</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>RemoteApi</servlet-name>
		<servlet-class>com.google.apphosting.utils.remoteapi.RemoteApiServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>RemoteApi</servlet-name>
		<url-pattern>/remote_api</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Database</servlet-name>
		<servlet-class>com.kervinramen.spotfinder.servlets.DatabaseServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Database</servlet-name>
		<url-pattern>/database/user/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Spot</servlet-name>
		<servlet-class>com.kervinramen.spotfinder.facebookapp.controller.SpotServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Spot</servlet-name>
		<url-pattern>/spot/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Rate</servlet-name>
		<servlet-class>com.kervinramen.spotfinder.facebookapp.controller.RatingServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Rate</servlet-name>
		<url-pattern>/rate/*</url-pattern>
	</servlet-mapping>


    <servlet>
        <servlet-name>Find</servlet-name>
        <servlet-class>com.kervinramen.spotfinder.finder.controller.FinderServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Find</servlet-name>
        <url-pattern>/find</url-pattern>
    </servlet-mapping>
    
        <servlet>
        <servlet-name>Finder</servlet-name>
        <servlet-class>com.kervinramen.spotfinder.finder.controller.FinderServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Finder</servlet-name>
        <url-pattern>/finder</url-pattern>
    </servlet-mapping>
    
	<servlet>
		<servlet-name>Indexer</servlet-name>
		<servlet-class>com.kervinramen.spotfinder.indexer.controller.IndexerServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Indexer</servlet-name>
		<url-pattern>/index</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Cron</servlet-name>
		<servlet-class>com.kervinramen.spotfinder.indexer.controller.CronServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Cron</servlet-name>
		<url-pattern>/cron</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Parser</servlet-name>
		<servlet-class>com.kervinramen.spotfinder.indexer.controller.ParserServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Parser</servlet-name>
		<url-pattern>/parse</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>TestFinder</servlet-name>
		<servlet-class>com.kervinramen.spotfinder.finder.controller.TestFinderServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>TestFinder</servlet-name>
		<url-pattern>/testfinder</url-pattern>
	</servlet-mapping>


	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
